# Private key (use a dedicated deployer key)
# DO NOT commit this file with actual values
PRIVATE_KEY=0x...

# Network selection: "testnet" or "mainnet"
ENDPOINT=https://your.endpoint.to.base/

# Official on Base: 0x2C3cae1A2143De33F7fe887ad0428d33BBBd0A62
# Official on Base Sepolia: 0xA1e244C6cE94FF2bb5f4533783FBc44D1f190045
MESSAGE_PROXY=0x... # Address of the MessageProxy contract on the target network


ORCHESTRATOR=0x... # Address of the Orchestrator contract on the target network

# Official on Base: 0x7f54e52D08C911eAbB4fDF00Ad36ccf07F867F61
# Official on Base Sepolia: 0x6722D0f037A461a568155EA0490753E9C8825FC9
DEPOSIT_BOX=0x... # Address of the DepositBoxERC20 contract on the target network

## Optional
OWNER=0x... # Address to transfer ownership to after deployment (optional, defaults to deployer address)

